<h1>Local Storage</h1>
<form (ngSubmit)="submitList()">

    <div>
      <label for="description"> Description </label>
      <input type="text"  name="description" [(ngModel)]="appObj.data">
    </div>

    <div>
      <label for="date"> Date </label>
      <input type="date"  name="date" [(ngModel)]="appObj.date">
    </div>

    <div>
      <label for="tags"> Tags </label>
      <input type="text"  name="tags" [(ngModel)]="appObj.tags">
    </div>

    <button type="submit">Submit</button>
    
</form>